<app-navbar></app-navbar>
<div class="container">
  <div class="text-center container">
    <div
      class="button-container"
      data-toggle="modal"
      data-target="#addProductModal"
    >
      <button class="button mt-4 mb-5" type="button">
        <span class="button__text">Add Product</span>
      </button>
    </div>
    <div class="row">
      <div
        class="col-lg-3 col-md-12 mb-4"
        *ngFor="let Product of productList; let i = index"
      >
        <div class="card">
          <div
            class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light"
          >
            <img [src]="Product.productImages[0]" />
          </div>
          <div class="card-body">
            <u
              ><h4 class="card-title mb-3">{{ Product.name }}</h4></u
            >
            <h5 class="mb-2">
              {{ Product.price | currency : "INR" : "symbol" : "1.2-2" }}
            </h5>
            <p>{{ Product.category }},{{ Product.subcategory }}</p>
            <p>Stock: {{ Product.stockQuantity }}</p>
            <p>Seller: {{ Product.seller }}</p>
          </div>
          <div class="options">
            <a
              data-toggle="modal"
              data-target="#addProductImageModal"
              (click)="onShareProductDetail(Product)"
            >
              <svg
                clip-rule="evenodd"
                fill-rule="evenodd"
                stroke-linejoin="round"
                stroke-miterlimit="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm-.747 9.25h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5c0-.414-.336-.75-.75-.75s-.75.336-.75.75z"
                  fill-rule="nonzero"
                />
              </svg>
              <span class="tooltip">Images</span>
            </a>
            <a
              data-toggle="modal"
              data-target="#editProductModal"
              (click)="onEditProductDetail(Product)"
            >
              <svg
                clip-rule="evenodd"
                fill-rule="evenodd"
                stroke-linejoin="round"
                stroke-miterlimit="2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m19 20.25c0-.402-.356-.75-.75-.75-2.561 0-11.939 0-14.5 0-.394 0-.75.348-.75.75s.356.75.75.75h14.5c.394 0 .75-.348.75-.75zm-12.023-7.083c-1.334 3.916-1.48 4.232-1.48 4.587 0 .527.46.749.749.749.352 0 .668-.137 4.574-1.493zm1.06-1.061 3.846 3.846 8.824-8.814c.195-.195.293-.451.293-.707 0-.255-.098-.511-.293-.706-.692-.691-1.742-1.741-2.435-2.432-.195-.195-.451-.293-.707-.293-.254 0-.51.098-.706.293z"
                  fill-rule="nonzero"
                />
              </svg>
              <span class="tooltip">Edit</span>
            </a>
            <a (click)="onDeleteProduct(Product.productID)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="m4.015 5.494h-.253c-.413 0-.747-.335-.747-.747s.334-.747.747-.747h5.253v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-.254v15.435c0 .591-.448 1.071-1 1.071-2.873 0-11.127 0-14 0-.552 0-1-.48-1-1.071zm14.5 0h-13v15.006h13zm-4.25 2.506c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm-4.5 0c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm3.75-4v-.5h-3v.5z"
                  fill-rule="nonzero"
                />
              </svg>
              <span class="tooltip">Delete</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Product Modal -->
<div
  class="modal fade"
  id="addProductModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-add-products></app-add-products>
    </div>
  </div>
</div>
<!-- Add Product Image Modal -->
<div
  class="modal fade"
  id="addProductImageModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-add-product-image></app-add-product-image>
    </div>
  </div>
</div>
<!-- Edit Product Modal -->
<div
  class="modal fade"
  id="editProductModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-edit-product></app-edit-product>
    </div>
  </div>
</div>
