/* container layout  */
.container-fluid {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  margin-top: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(184, 186, 188, 0.63);
  padding: 20px;
}

.logo {
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.welcome-text {
  font-size: 14px;
}

@media (max-width: 991.98px) {
  .logo {
    margin: 0 auto;
  }
}

/* Buttons */
.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
