<div class="container">
  <div class="row">
    <div class="col-5" id="logo">
      <img class="logo" src="assets/logo.png" />
    </div>
    <div class="col-4" id="admin">
      <!-- <p>
        Welcome <b>{{ adminDetails.result.username }}!!</b>
      </p> -->
    </div>
    <!-- <div class="col-2">
      <button class="cta">
        <span class="hover-underline-animation"> Add Product </span>
      </button>
    </div> -->
    <div class="col-1">
      <button class="cta" routerLink="/home">
        <span class="hover-underline-animation">Home</span>
      </button>
    </div>
    <div class="col-2">
      <button class="Logcta" (click)="onAdminLogout()">
        <span class="hover-line-animation">Log out</span>
      </button>
    </div>
  </div>
</div>
