<form [formGroup]="formValue">
  <div class="modal-header">
    <h1 class="modal-title">New Product</h1>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="name" />
    </div>
    <div class="mb-3">
      <label for="Name" class="form-label">Product Image URL</label>
      <input
        type="text"
        class="form-control"
        formControlName="productImageUrl"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" formControlName="price" />
    </div>
    <div class="mb-3">
      <label class="form-label">Stock</label>
      <input
        type="number"
        class="form-control"
        formControlName="stockQuantity"
      />
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col">
          <label for="categoryId">Category</label>
          <select formControlName="categoryId" (change)="updateSubcategories()">
            <option
              *ngFor="let category of categories"
              [value]="category.categoryID"
            >
              {{ category.categoryName }}
            </option>
          </select>
        </div>
        <div class="col">
          <label for="subcategoryId">Subcategory</label>
          <select formControlName="subcategoryId">
            <option
              *ngFor="let subcategory of formValue.get('subcategoryId')?.value"
              [value]="subcategory.subCategoryID"
            >
              {{ subcategory.subCategoryName }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="Name" class="form-label">Seller</label>
      <select class="form-select" formControlName="sellerId">
        <option value="">-</option>
        <option *ngFor="let seller of sellerDetails" [value]="seller.sellerID">
          {{ seller.sellerName }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button class="save" data-dismiss="modal" (click)="onAddNewProduct()">
      <span>Save</span>
    </button>
  </div>
</form>
