<form [formGroup]="formValue">
  <div class="modal-header">
    <h1 class="modal-title">{{ productDetail?.name }}</h1>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="Name" class="form-label">Product Image URL</label>
      <input type="text" class="form-control" formControlName="ImageUrl" />
    </div>
  </div>
  <div class="modal-footer">
    <button class="save" data-dismiss="modal" (click)="onAddProductImage()">
      <span>Save</span>
    </button>
  </div>
</form>
