<app-navbar></app-navbar>
<div class="container pt-4">
  <div class="row justify-content-center">
    <h1>
      <b><u>PRODUCT CATEGORIES</u></b>
    </h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="button-container">
        <button
          class="button mt-4 mb-5"
          type="button"
          data-toggle="modal"
          data-target="#addCategoryModal"
        >
          <span class="button__text">Add new category</span>
        </button>
      </div>
    </div>
    <div class="col-6">
      <div class="button-container">
        <button
          class="button mt-4 mb-5"
          type="button"
          data-toggle="modal"
          data-target="#addSubCategoryModal"
        >
          <span class="button__text">Add sub-category</span>
        </button>
      </div>
    </div>
  </div>
  <div class="box">
    <h2>Categories with their Sub-Categories</h2>
    <ul class="list">
      <div class="row">
        <div
          class="col-lg-3 col-md-12 mb-1"
          *ngFor="let list of allCategories; let i = index"
        >
          <li id="list">
            <span>{{ i + 1 }}</span>
            {{ list.categoryName }}
            <ul
              class="sub-list"
              *ngFor="let subCat of list.subcategoryNames; let i = index"
            >
              <li id="sub-list">
                <span>{{ i + 1 }}</span
                >{{ subCat }}
              </li>
            </ul>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>
<div
  class="modal fade"
  id="addCategoryModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-add-categories></app-add-categories>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="addSubCategoryModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-add-sub-category></app-add-sub-category>
    </div>
  </div>
</div>
