/* Add items button */
.button-container {
  display: flex;
  justify-content: center;
}

.button {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 170px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

/* Categories list */
.box {
  width: 100%;
  box-shadow: 0 0.1em 0.5em rgb(1, 28, 71, 0.3);
  border-bottom: 20px solid #302c63;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list {
  padding-left: 0;
}

.box h2 {
  color: #ffffff;
  background-image: linear-gradient(to right, #0f0c29, #302c63, #24243e);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box ul {
  position: relative;
  background: #d9d7f5;
}

.box ul:hover li {
  opacity: 0.2;
}

.box ul li {
  width: 100%;
  list-style: none;
  padding: 10px;
  align-items: center;
  background: #d9d7f5;
  box-shadow: 0 5px 25px rgba(197, 194, 194, 0.1);
  transition: transform 0.5s;
}

.box ul li:hover {
  transform: scale(1.1);
  z-index: 5;
  background: #302c63;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 1;
}

.box ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #302c63;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-2px);
}

.box ul li:hover span {
  background: #fff;
  color: #302c63;
}

svg {
  background: transparent;
  width: 1rem;
}

.box ul li span,
.box ul li svg {
  vertical-align: middle; /* Align the elements vertically */
}
