<app-navbar></app-navbar>
<div class="container pt-4">
  <div class="row justify-content-center">
    <h1>
      <b><u>PRODUCT CATEGORIES</u></b>
    </h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="button-container">
        <button
          class="button mt-4 mb-5"
          type="button"
          data-toggle="modal"
          data-target="#addCategoryModal"
        >
          <span class="button__text">Add new category</span>
        </button>
      </div>
    </div>
    <div class="col-6">
      <div class="button-container">
        <button
          class="button mt-4 mb-5"
          type="button"
          data-toggle="modal"
          data-target="#addSubCategoryModal"
        >
          <span class="button__text">Add sub-category</span>
        </button>
      </div>
    </div>
  </div>
  <div class="box">
    <h2>Categories with their Sub-Categories</h2>
    <ul class="list">
      <div class="row">
        <div
          class="col-lg-4 col-md-12 mb-1"
          *ngFor="let list of allCategories; let i = index"
        >
          <li id="list">
            <span>{{ i + 1 }}</span>
            {{ list.categoryName }}
            <svg
              (click)="onDeleteCategory(list.categoryID)"
              clip-rule="evenodd"
              fill-rule="evenodd"
              stroke-linejoin="round"
              stroke-miterlimit="2"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m4.015 5.494h-.253c-.413 0-.747-.335-.747-.747s.334-.747.747-.747h5.253v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-.254v15.435c0 .591-.448 1.071-1 1.071-2.873 0-11.127 0-14 0-.552 0-1-.48-1-1.071zm14.5 0h-13v15.006h13zm-4.25 2.506c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm-4.5 0c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm3.75-4v-.5h-3v.5z"
                fill-rule="nonzero"
              />
            </svg>
            <ul
              class="sub-list"
              *ngFor="let subCat of list.subcategories; let i = index"
            >
              <li id="sub-list">
                <span>{{ i + 1 }}</span
                >{{ subCat.subCategoryName }}
                <svg
                  (click)="onDeleteSubCategory(subCat.subCategoryID)"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  stroke-linejoin="round"
                  stroke-miterlimit="2"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m4.015 5.494h-.253c-.413 0-.747-.335-.747-.747s.334-.747.747-.747h5.253v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-.254v15.435c0 .591-.448 1.071-1 1.071-2.873 0-11.127 0-14 0-.552 0-1-.48-1-1.071zm14.5 0h-13v15.006h13zm-4.25 2.506c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm-4.5 0c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm3.75-4v-.5h-3v.5z"
                    fill-rule="nonzero"
                  />
                </svg>
              </li>
            </ul>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>
<div
  class="modal fade"
  id="addCategoryModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-add-categories></app-add-categories>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="addSubCategoryModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-add-sub-category></app-add-sub-category>
    </div>
  </div>
</div>
