<app-navbar></app-navbar>
<div class="container pt-4">
  <div class="row justify-content-center">
    <h1>
      <b><u>PRODUCT CATEGORIES</u></b>
    </h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="button-container">
        <button
          class="button mt-4 mb-5"
          type="button"
          data-toggle="modal"
          data-target="#addSellerModal"
        >
          <span class="button__text">Add new category</span>
        </button>
      </div>
    </div>
    <div class="col-6">
      <div class="button-container">
        <button
          class="button mt-4 mb-5"
          type="button"
          data-toggle="modal"
          data-target="#addSellerModal"
        >
          <span class="button__text">Add sub-category</span>
        </button>
      </div>
    </div>
  </div>
  <div class="box">
    <h2>Categories with their Sub-Categories</h2>
    <ul class="list">
      <div class="row">
        <div class="col-lg-3 col-md-12 mb-1">
          <li id="list">
            <span>1</span>
            Item 1
            <ul class="sub-list">
              <li id="sub-list"><span>1</span>Subitem 1.1</li>
              <li id="sub-list"><span>1</span>Subitem 1.1</li>
              <li id="sub-list"><span>1</span>Subitem 1.1</li>
            </ul>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>
