/* Customer profile card */
.card-client {
  background: #daeaee;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #151579;
  box-shadow: 0 6px 10px rgb(135, 136, 138);
  border-radius: 10px;
  text-align: center;
  color: #151579;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #151579;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.options:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #151579;
}

.options a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.options a:last-child {
  margin-right: 0;
}

.options a svg {
  width: 1.1rem;
  fill: currentColor;
}

.tooltip {
  background: #fefefe;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.options a .tooltip:after {
  border-top-color: #ffffff;
}

.options a:hover .tooltip {
  opacity: 1;
  transform: translate(-50%, -130%);
}
